.style-title-card{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.style-title{
  font-size: 20px;
  font-weight: bolder;
  font-family:Cambria;
  color: rgb(53, 184, 235);
 
}
.style.nav{
  background-color: black
}

.body-bg{
  background-color: rgb(3, 5, 5);
}
.header-fixed {
  position: fixed !important;
  width:100%;
  z-index: 10;
  
  /* top: 0px; display:none;
  background-color:white; */
}
.style-loading{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.style-movie{
 font-size: 30px;
 font-weight: bold;
}
.style-date{
  font-size: 20px;
}
.style-average{
  font-size: 20px;
  color: red;
  font-weight: bold;
}

